
.homePageWrapper{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.formWrapper{
  background:#282a36;
  padding:20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  box-shadow: inset;
}

footer{
  position: fixed;
  bottom: 0;
}

footer a{
  color:#4aee88;
}

.inputGroup{
  display: flex;
  flex-direction: column;

}

.mainLable{
  margin-bottom: 20px;
  margin-top: 0;

}

.homePageLogo{
  height: 80px;
  margin-bottom: 30px;
}


.inputBox{
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 10px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}

.btn{
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

}

.joinBtn , .leaveBtn{
  background: #4aee88;
  width: 100px;
  margin-left: auto;
}
.joinBtn:hover , .leaveBtn:hover{
  background: #2b824c;
}

.createInfo{
  margin: 0 auto;
  margin-top: 20px;
}
.editorWrap{
  background: #fff;
}

.createNewBtn{
  color: #4aee88;
  text-decoration: none;
  border-bottom: 1px solid #4aee88;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover,
footer a:hover{
  color: #368654;
  border-color: #368654;
}

.mainWrap {
  display: grid;
  grid-template-columns: 230px 1fr;
  /* height: 100vh; */
}
.aside {
  background: #1c1e29;
  padding:16px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.asideInner {
  flex:1;

}


.clientsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.userName {
  margin-top: 8px;
}

.logo {
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}

.logoImage {
  height: 60px;

}

.leaveBtn {
  margin-top: 20px;
  width: 100%;
}


.CodeMirror {
  min-height: calc(100vh - 20vh);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}

























/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
